
<script src="admin-asset/js/vendors/jquery-3.6.0.min.js"></script>
<script src="admin-asset/js/vendors/bootstrap.bundle.min.js"></script>
<script src="admin-asset/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="admin-asset/js/main.js" type="text/javascript"></script>
</body>

</html>