<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>OTP Verification</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="user-assets/css/main.css?v=3.4">
</head>

<body>

    <main class="main">

        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center">


                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">OTP Verification</h3>
                                        </div>
                                        <% if(typeof message !=='undefined' ){ %>
                                            <h4 style="color: red;">
                                                <%= message %>
                                            </h4>
                                            <%}%>

                                        <form method="post" action="/otpverify">
                                            <div class="form-group">
                                                <input type="number" required="" name="otp" placeholder="Enter OTP">
                                            </div>

                                            <!-- Timer for OTP -->
                                            <div class="otp-timer">
                                                <p>Time Left: <span id="otp-timer">60</span> seconds</p>
                                            </div>

                                            <!-- Resend OTP and Verify Buttons -->
                                            <div class="form-group d-flex justify-content-between align-items-center">
                                                <button type="button" class="btn btn-fill-out hover-up mr-2" id="resendotp" href="/otpverify">Resend OTP</button>
                                                <button type="submit" class="btn btn-fill-out hover-up" name="verify">Verify</button>
                                            </div>
                                        </form>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="user-assets/js/plugins/slick.js"></script>
    <script src="user-assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="user-assets/js/plugins/wow.js"></script>
    <script src="user-assets/js/plugins/jquery-ui.js"></script>
    <script src="user-assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="user-assets/js/plugins/magnific-popup.js"></script>
    <script src="user-assets/js/plugins/select2.min.js"></script>
    <script src="user-assets/js/plugins/waypoints.js"></script>
    <script src="user-assets/js/plugins/counterup.js"></script>
    <script src="user-assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="user-assets/js/plugins/images-loaded.js"></script>
    <script src="user-assets/js/plugins/isotope.js"></script>
    <script src="user-assets/js/plugins/scrollup.js"></script>
    <script src="user-assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="user-assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="./user-assets/js/main.js?v=3.4"></script>

    <!-- OTP Timer Script -->
    <script>
 let countDown = 60;
let timer;

// Function to start the timer
function startTimer() {
    timer = setInterval(() => {
        if (countDown === 0) {
            // Enable resend OTP button and clear timer
            document.getElementById('resendotp').disabled = false;
            document.getElementById('otp-timer').innerText = '';
            clearInterval(timer);
        } else {
            // Update countdown and display remaining time
            countDown--;
            document.getElementById('otp-timer').innerText = 'Resend OTP in ' + countDown + ' seconds';
        }
    }, 1000);
}

// Function to reset the timer
function resetTimer() {
    clearInterval(timer);
    countDown = 60;
    startTimer();
}

// Initial start of timer
startTimer();

document.getElementById('resendotp').addEventListener('click', async () => {
    // Disable resend OTP button
    document.getElementById('resendotp').disabled = true;
    
    try {
        // Send request to resend OTP
        const response = await fetch('/resendotp', { method: 'POST' });
        // Reset the timer after sending OTP
        resetTimer();
    } catch (error) {
        console.error('Error:', error);
    }
});



    </script>
</body>

</html>

